{% extends "blogs/base_account.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}
{% load blogs_extras %}
{% load i18n %}
{% load account socialaccount %}
{%block content%}
<div class="profile-main edit-p-main" style="overflow: hidden;">
  <div>

    <div class="pwd-rst-pg" style="">
      <!-- experiment -->
      <div class="mt-4 profile-m">
        <div class="d-flex flex-column tab tab-2">
          <div class="profile-user profile-fgtpwd edit-fs mt-5">Forgot Your Password?</div>
          <div class="profile-user mx-auto mt-2 mb-1 text-muted pwd-rst">
            We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your
            password!
          </div>
        </div>
      </div>
      <div class="tabcontent mx-auto pwd-reset-tabcontent mx-auto p-3 mt-3">
        <form class="user pt-1 pwd-form" method="POST" action="{% url 'account_reset_password' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-center sub-pwd">
            <button class="btn btn-primary" type="submit">Reset Password</button>
          </div>
        </form>
        <div class="text-center mt-4">
          <a class="small" href="/accounts/signup/">Create an Account!</a>
        </div>
        <div class="text-center">
          <a class="small" href="{% url 'account_login' %}">Already have an account? Login!</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}
{% block extrajs  %}
<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
<script
  type='text/javascript'>kofiwidget2.init('Support Us on Ko-fi', '#29abe0', 'N4N41MX56'); kofiwidget2.draw();</script>
<script>
  $('a').on('click', function () {
    var target = $(this).attr('rel');
    $("#" + target).show().siblings("div").hide();
  });
</script>
{% endblock extrajs %}