{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="">
    <h1 class="prior-font change-pwd text-center">
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    <div class="tabcontent h-50 mx-auto pwd-change mx-auto p-3 mt-4">
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly it has been already used.
            <br>
            Please request a
            <a class="text-decoration-none" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
        {% if form %}
        <div class="">
            <form class="" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn text-wrap btn-primary rounded w-100" type="submit" name="action"
                    value="{% trans 'Change Password' %}" />
            </form>
        </div>
        {% else %}
        <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}