{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}
{% trans "Change Password" %}
{% endblock %}

{% block content %}
hi hello
<div class="">
    <h1 class="prior-font change-pwd text-center">{% trans "Change Password" %}</h1>
    <div class="tabcontent mx-auto pwd-change mx-auto p-3 mt-4">
        <form class="" method="POST" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center sub-pwd mt-4 ">
                <button class="btn btn-block btn-primary rounded" type="submit"
                    name="action">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}