{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="d-flex flex-column tab tab-2 mt-5">
    <h1 class="profile-user profile-fgtpwd prior-font mt-5">{% trans "Verify Your E-mail Address" %}</h1>
    <div class="profile-user mx-auto w-100 mt-2 mb-1  pwd-rst">
        {% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
        process.
        Please contact us if you did not receive it within a few minutes.{% endblocktrans %}
    </div>
</div>

{% endblock %}