{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
<a title="{{brand.name}}" 
    class="socialaccount_provider {{provider.id}} {{brand.id}}" 
    href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
    >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
{% comment %} <li> {% endcomment %}
<div class="form-group">
{{ provider_login_url }}
                <button class="btn btn-lg btn-block btn-dark"> <a style="color:white;" id="github-button" class="btn btn-block btn-social btn-github" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
  <i class="fa fa-github"></i> Github Login
</a></button>
</div>
<br/>
  {% comment %} <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
</li> {% endcomment %}
{% endfor %}
