{% load static %}
{% load meta %}
{% load blogs_extras %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">

<head {% meta_namespaces %}>
    {% include "meta/meta.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, initial-scale=1.0, width=device-width, initial-scale=1">
    <meta name="keywords"
        content="developer,support,coding,learning,teckiy,tutorials,html,css,python,django,react,java">
    <meta name="author" content="Teckiy">
    <meta property="og:image" content="https://static.teckiy.com/teckiy_logo_fav.jpg">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Slab&display=swap" rel="stylesheet">

    <!-- Below 3 lines for Ckeditor code  -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>



    <!-- CSS Style Sheet -->
    <link rel="stylesheet" href="{% static 'blogs/css/static-design.css' %}">
    <!-- <link rel="icon" href="{% static 'blogs/images/iconfinder_icon-111-search_314478.svg' %}">
    <link rel="fbicon" href="{% static 'blogs/images/facebook-icon.svg' %}">
    <link rel="tweeticon" href="{% static 'blogs/images/twitter-icon.svg' %}">
    <link rel="youtubeicon" href="{% static 'blogs/images/youtube-icon.svg' %}">  -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166867100-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-166867100-1');
    </script>
    <!-- Hotjar Tracking Code for https://www.teckiy.com/ -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 2030205, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"
        data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <link rel="shortcut icon" href="{% static 'blogs/images/teckiy_fav_icon.ico' %}">

    <title>
        {% block title %}

        {% endblock %}

    </title>

</head>

<body>

    <div class="container-fluid parent-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div>
                <div class="nav-left">
                    <button class="navbar-toggler btn-padding" type="button" data-toggle="collapse"
                        data-target="#navbarNav">
                        <span class="navbar-toggler-icon ic-size"></span>
                    </button>
                    <a href="/"><img class="navbar-logo" src="{% static 'blogs/images/teckiy-new-logo.png' %}"
                            alt="teckiy-logo"></a>
                </div>
            </div>

            <div class="collapse navbar-collapse order-1 order-lg-0 mr" id="navbarNav">
                <ul class="navbar-nav nav-ul">
                    <li class="nav-item">
                        <a class="nav-link ff-fs2" href="/about/">About</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li> -->
                    <li class="nav-item pcds-display">
                        <a class="nav-link ff-fs2" href="{% url 'blogs:blog-home' %}">Posts</a>
                    </li>
                    <!-- <li class="nav-item pcds-display">
                        <a class="nav-link" href="#">Courses</a>
                    </li> -->
                    <li class="nav-item pcds-display">
                        <a class="nav-link ff-fs2" href="{% url 'donate' %}">Donate</a>
                    </li>
                    <li class="nav-item pcds-display">
                        <a class="nav-link ff-fs2" href="{% url 'analytics:suggestion' %}">Suggestions</a>
                    </li>
                </ul>
            </div>
            <form class="search-box-form mx-auto" action="/search/">
                <input class="form-control search-box ff-fs2" id="mySearch" onkeyup="myFunction()" name='q'
                    type="search" placeholder="Search" aria-label="Search">
            </form>

            <a href="#">
                <img class="search-icon search-btn d-md-none" id="click-search"
                    src="{% static 'blogs/images/iconfinder_icon-111-search_314478.svg' %}" alt="">
            </a>
            {% if request.user.is_authenticated %}
            <div>
                {% include "blogs/notifications.html" %}
                <!-- USER Dropdown Button - NavBar -->
                <button class="btn btn-primary dropdown-toggle user-button dropdown ml-auto" type="button"
                    id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user-icon" src="{% static 'blogs/images/iconfinder-icon.svg' %}" alt="avatar-icon">
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <a class="text-decoration-none" href="{% url 'users:profile' request.user %}"><button type="button"
                            class="dropdown-item ff-fs2" data-toggle="modal" data-target="#modal-1">Account</button></a>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button class="dropdown-item ff-fs2" type="submit">Logout</button></a>
                    </form>
                </div>
            </div>
            {% else %}
            <form action="{% url 'account_login' %}">
                <button type="submit" class="btn btn-primary login-hp fs">Log in</button>
            </form>
            <form action="{% url 'account_signup' %}">
                <button type="submit" class="btn btn-primary signup-hp fs">Sign up</button>
            </form>

            {% endif %}
        </nav>
        <div>
            <form id="appear-search-bar" action="/search/">
                <input class="form-control d-md-none mx-auto" onkeyup="myFunction()" name='q' type="search"
                    placeholder="Search" aria-label="Search">
            </form>
        </div>

        {% if messages %} {% for message in messages %} <div class="alert alert-{{ message.tags }} alert-dismissible"
            role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}


        {% block content %}


        {% endblock content %}
    </div>
    <footer>
        <div class="footer">
            <div class="links">
                <a class="footer-link ff-fs2" href="/about/">About</a>
                <a class="footer-link ff-fs2" href="/policy/">Policy</a>
                <a class="footer-link ff-fs2" href="/contact/">Contact Us</a>
            </div>

            <div class="icon-links">
                <a target='_blank' href="https://www.facebook.com/teckiy/"><img class="fb-footer-icon"
                        src="{% static 'blogs/images/facebook-icon.svg' %}" alt="facebook-icon"></a>
                <a target='_blank' href="https://twitter.com/Teckiy1"><img class="fb-footer-icon"
                        src="{% static 'blogs/images/twitter-icon.svg' %}" alt="twitter-icon"></a>
                <a target='_blank' href="https://www.youtube.com/channel/UC-VJgAi35OkoJ8gj6DU4E8Q"><img
                        class="fb-footer-icon" src="{% static 'blogs/images/youtube-icon.svg' %}"
                        alt="youtube-icon"></a>
            </div>
            <div class="copyright ff-fs2">Copyright &copy; Teckiy <span id="copyright-year"></span></div>

            <!-- <div class="ko-fi-div">
                    <button class="ko-fi">
                        <img class="ko-fi-img" src="https://storage.ko-fi.com/cdn/cup-border.png" alt="">
                        Support us on Ko-fi
                    </button>
                </div> -->
        </div>
    </footer>

    <script>
        document.getElementById("click-search").onclick = function () {
            var srchBar = document.getElementById("appear-search-bar");
            if (srchBar.style.display == "block") {
                srchBar.style.display = "none";
            } else {
                srchBar.style.display = "block";
            }
        }
        // Copyright-Year Update
        document.getElementById("copyright-year").innerHTML = new Date().getFullYear();
    </script>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Optional JavaScript -->
    {% block js %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    {% endblock %}

    <script type="text/javascript">
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("mySearch");
            filter = input.value.toUpperCase();
            table = document.getElementById("customers");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    </script>

    <script type="text/javascript">
        $(".comment-detail img code").each(function () {
            $(this).addClass("img-responsive");
        });

        $(".marked-content-show").each(function () {
            var content = "<small><b>**bold**</b> <code>`code`</code> <i>_italics_</i> <code>```long code```</code>" +
                "<a target='_blank' href='https://daringfireball.net/projects/markdown/syntax#code' id='markdownURL' data-toggle='tooltip' data-placement='top'" +
                "title='This text input uses Markdown syntax. Learn more here" +
                "'>?</a><div id='myDIV'></div></small>"

            $(this).html(content)
            check()
        })
        function check() {
            return false;
        }


        function markdownUnhide() {
            console.log('True')
        }


    </script>
    <script type="text/javascript">
        var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq ||
            { widgetcode: "10945d185cfc392a4f1eb60063940d961672622287fa6e11408ccc822c110e8a", values: {}, ready: function () { } };
        var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true;
        s.src = "https://salesiq.zoho.in/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t); d.write("<div id='zsiqwidget'></div>");
    </script>
    <script type="text/javascript" src="{% static 'blogs/js/moment.js' %}"></script>

    {% block extrajs  %}
    {% endblock extrajs %}
    <script type="text/javascript" src="{% static 'blogs/js/notifications.js' %}"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
</body>

</html>