{% extends "blogs/base.html" %}

{% load static %}

{% load markdown_deux_tags %}
{% load crispy_forms_tags %}
{% block content %}
 <style>

    .test:after {
            content: '\2807';
            font-size: 10px;
            }
     .box {
        display: flex;
      }

      .box > * {
        flex: 1 1 0;
      }

       .user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
     
  #p-day {
    float: right;
    margin-right: 100px;
}

@import "http://nyplintranet-training.appspot.com/css/themes/nypl/main.css";
/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
</style> 

<div class="col-12 col-md-10 py-3">
<div class="row">
 <img class="rounded-circle" src="{{ object.author.profile.image.url }}" width="104" height="106">
 <a class="mr-2" href="{% url 'view-user-profile' object.author.id  %}"></a>
  <div class="card-body">
     <h4 class="card-title"> <center>By <strong><a class="mr-2" href="{% url 'view-user-profile'  object.author.id %}">{{ object.author.username|title }} {{ object.author.last_name|title }}</a></strong></h4></center>
    {% comment %} <center><p class="card-text">I'm a passionate in Software Development & research. <a href="{% url 'blogs:blog-about' %}" >Read More</a></p></center> {% endcomment %}
    
  </div>
  </div>



<br/>


 <center><h5>Tutorial</h5></center>
      <hr class="dashed">

      
        <h2><a class="article-title">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content|safe }}</p>
        {% comment %} {% if object.blog_image %}
            <img  src="{{ object.blog_image.url }}">
        {% endif %} {% endcomment %}
              {% if post.uploaded %}

                <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" poster="{{ post.video_poster.url }}" controls controlsList="nodownload">
                    <source src="{{ new_url }}" type="video/mp4">
                </video> 
              </div>
                {% comment %} <video width="1000" poster="{{ post.video_poster.url }}" controls controlsList="nodownload">
                    <source src="{{ new_url }}" type="video/mp4">
                    {
                    Your browser does not support HTML5 video.
              </video> {% endcomment %}
             {% endif %}
        {% if request.user == post.author or request.user.groups.all.0.name == 'Developer' %}
        <hr>
                <small><a class="btn btn-primary" href="{% url 'blogs:update' post.slug %}">Update</a></small>
                <small><a class="btn btn-danger" href="{% url 'blogs:delete' post.id %}" style="float: right;">Delete</a></small>

        {% endif %}

 
<br/>
<br/>
{% if request.user.is_authenticated %}
<div class="container">

        <form id="comment-form" method='POST' action="{% url 'comments:comment_view' post.id %}">
            {% csrf_token %}
                          <div class="marked-content-show">
                        {% comment %} <input type="hidden" onkeypress="codeBlock()">                               {% endcomment %}
                        </div>
            <textarea  class='form-control mb-2' rows='4' cols='50' placeholder='Write your comment/question'  name='comment' required></textarea>
            <button type="submit" id="commentmsgtest" class="btn btn-primary mt-2" style="float: right;">Send</button>
          </form>
   
  </div>

  {% else %}
       <form id="commentform" method='POST' action="{% url 'account_login' %}?next={{ request.path }}">
            {% csrf_token %}
                            <div class="marked-content-show">
                        {% comment %} <input type="hidden" onkeypress="codeBlock()">                               {% endcomment %}
                        </div>
       <textarea  class='form-control mb-2' rows='4' cols='50' placeholder='Write your comment/question'  name='comment' required></textarea>
              <br/>
              <button type="submit" id="commentmsg" class="btn btn-primary mt-2" style="float: right;">Send</button>
            </div>
          </form>
  {% endif %}
  <br/>
  <br/>
  

  <div id='new-load-comments'></div>
  <div class="container">
      {% if comment_obj %}
        <blockquote>

          {% if comment_obj.count == 1 %}
            <h1><small class="pull-right ">{{ comment_obj_count }}</small> Comment </h1><br/>
          {% else %}
            <h1><small class="pull-right ">{{ comment_obj_count }}</small> Comments </h1><br/>
          {% endif %}
          {% for msg in comment_obj %}        
              <div class="media">
                  <img class="rounded-circle mr-3" src="{{ msg.user.profile.image.url }}" width="40" height="40">
                  <div class="media-body">  
                    <p class="mt-0"><small class="text-muted"> <strong>&nbsp;{{ msg.user.username|title }}</strong> <br/>&nbsp;Posted on {{ msg.created_date|timesince }} ago </p> </small>
                    {{ msg.comment|markdown  }}
               
                {% if request.user.username == msg.user.username and forloop.counter == 1 and not msg.children %}
                     <small> <a href="{% url 'comments:comment_delete' msg.id 'post' %}">Delete</a>
                    {% endif %}</small>
                    {% for child_comment in msg.children %}
       <blockquote>
         <div class="media mt-3">
           <div id ='reply-load-image'>
             <img class="rounded-circle mr-2" src="{{ child_comment.user.profile.image.url }}" width="40" height="40">
              <a class="pr-3" href="#">
              </a>
            </div>
            <div class="media-body">
                <p class="mt-0"><small class="text-muted"> <strong>{{ child_comment.user.username|title }}</strong> <br/>Posted on {{ child_comment.created_date|timesince }} ago </p></small> 
                {{ child_comment.comment|markdown  }} 
          
            {% if request.user.username == child_comment.user.username and forloop.last %}
                                  <small><a href="{% url 'comments:reply_delete' child_comment.id 'post' %}">Delete</a>
                                {% endif %}</small>
                                <hr/>
                            </div>
                            </blockquote>
                      {% endfor %}
                          {% if request.user.is_authenticated %}
                            <form id="reply-comment-form" method='POST' action="{% url 'comments:comment_view' msg.object_id %}">
                            {% csrf_token %}
                                                    <div class="marked-content-show">
                        {% comment %} <input type="hidden" onkeypress="codeBlock()">                               {% endcomment %}
                        </div>
                                <textarea row='10' class='form-control mb-2' rows='4' cols='50' placeholder='write your reply'  name='comment' required></textarea>
                                <input type="hidden" name="parent_id" value="{{ msg.id }}">
                                    <div class='col ml-auto text-right px-0'><button class='btn pull-right btn-primary' type='submit'><i class="fas fa-reply"></i>Reply</button>
                                    </div>
                            </form>
                          {% else %}
                              <form id="comment-form" method='POST' action="{% url 'account_login' %}?next={{ request.path }}">
                                {% csrf_token %}
                                                        <div class="marked-content-show">
                        {% comment %} <input type="hidden" onkeypress="codeBlock()">                               {% endcomment %}
                        </div>
                                <textarea row='10' class='form-control mb-2' rows='4' cols='50' placeholder='write your reply'  name='replied'></textarea>
                                    <div class='col ml-auto text-right px-0'><button class='btn pull-right btn-primary'><i class="fa fa-reply" aria-hidden="true"></i>Reply</button></div>
                            </form>
                          {% endif %}
					            </div>
                      </div>
                       
                    <hr class='dashed'>

              
                <br/>
            {% endfor  %}
	
                   
         
          </blockquote>
        {% endif %}
			 </div>
        </div>

</div>
<br/>
<br/>

<br/>



   {% comment %} <a class="btn btn-secondary-outline prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                <a class="btn btn-secondary-outline next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a> {% endcomment %}
  <br/>

<section class="container p-t-3">
    <div class="row">
        <div class="col-lg-12">
            <h1>More Posts</h1>
        </div>
    </div>
</section>
<hr class="dashed">
<section class="carousel slide" data-ride="carousel" id="postsCarousel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-md-right lead">
                {% comment %} <a class="btn btn-secondary-outline prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                <a class="btn btn-secondary-outline next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="container p-t-0 m-t-2 carousel-inner">
		
			<div class="row row-equal carousel-item active m-t-0">
					{% for obj in related_posts %}
						
						  {% if forloop.counter <= 3 %}
              
							<div class="col-md-4">
								<div class="card" style="width: 18rem;height: 28rem;">
									<div class="card-img-top card-img-top-250">
                  
										<img  src="{{ obj.blog_image.url }}" alt="Carousel 1" width="300" height="300">
									</div>
									<div class="card-block p-t-2">
										<h6 class="small text-wide p-b-2"><center>Posted - {{ obj.date_posted|date:"F d, Y" }}</center></h6>
                    <h6 class="small text-wide p-b-2"><center>By - <strong>{{ obj.author.first_name }}</strong></center></h6>
										<h2>
											<a href="{% url 'blogs:detail' obj.slug  %}">{{ obj.title }}</a>
										</h2>
									</div>
								</div>
							</div>
					  {% endif %}
					
					{% endfor %}
		
			</div>
			
									<div class="row row-equal carousel-item m-t-0">
										{% for obj in related_posts %}
										 {% if forloop.counter > 3 and forloop.counter < 7 %}
											<div class="col-md-4">
												<div class="card" style="width: 18rem;height: 28rem;">
													<div class="card-img-top card-img-top-250">
														<img  src="{{ obj.blog_image.url }}" alt="Carousel 4" width="300" height="300">
													</div>
													<div class="card-block p-t-2">
														<h6 class="small text-wide p-b-2"><center>Posted - {{ obj.date_posted|date:"F d, Y" }}</center></h6>
                            <h6 class="small text-wide p-b-2"><center>By - <strong>{{ obj.author.first_name }}</strong></center></h6>
														<h2>
															<a href="{% url 'blogs:detail' obj.slug  %}">{{ obj.title }}</a>
														</h2>
													</div>
												</div>
											</div>
										{% endif %}

										{% endfor %}
									</div>

                  <div class="row row-equal carousel-item m-t-0">
										{% for obj in related_posts %}
										 {% if forloop.counter > 7 and forloop.counter < 11 %}
											<div class="col-md-4">
												<div class="card" style="width: 18rem;height: 28rem;">
													<div class="card-img-top card-img-top-250">
														<img class="img-fluid" src="{{ obj.blog_image.url }}" alt="Carousel 4">
													</div>
													<div class="card-block p-t-2">
														<h6 class="small text-wide p-b-2">Posted - {{ obj.date_posted|date:"F d, Y" }}</h6>
														<h2>
															<a href="{% url 'blogs:detail' obj.slug  %}">{{ obj.title }}</a>
														</h2>
													</div>
												</div>
											</div>
										{% endif %}
                    
										{% endfor %}
									</div>
									
				
			
    </div>
</section>

{% endblock content %}

{% block extrajs  %}
{% comment %} <script type="text/javascript" src="{% static 'blogs/js/comment.js' %}"></script> {% endcomment %}
<script>
/* $(document).ready(function(){

   // var endpoint = 
    getComments()

})
var replyForm = $('#reply-comment-form');

replyForm.on('submit',function(event){
  event.preventDefault()
  console.log('Form Submitted')
  create_reply();

})

function getComments(){

 $.ajax({
          method: "GET",
          url: '/comment/comment_list',
          data: {
            content:1
          },
       
          success: function(data){

            console.log('Succcess')
          }

 })

}

function create_reply(){
    $.ajax({

        type:replyForm.attr('method'),
        url : replyForm.attr('action'),
        data: replyForm.serialize(),
        success:function(data){
            console.log(data.content)
            replyELementImage = data.content.image
            replyElementUser = data.content.user
            repliedELementMsg = data.content.comment
            $('#reply-image').attr( {src:replyELementImage,width:'40',height:'40' } );
            $('#reply-load').html("<p class='mt-0'><small class='text-muted'> <strong>"+replyElementUser+"</strong> <br/>Posted on  </p></small>"+repliedELementMsg)
            replyForm.trigger("reset")
                                
             

        },
        error:function(data){

          console.log('failed')
          console.log(data)
        }

    })
}
*/

(function($) {
    "use strict";

    // manual carousel controls
    $('.next').click(function(){ $('.carousel').carousel('next');return false; });
    $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });
    
})(jQuery);
</script> 
{% endblock extrajs %}
  