<div class="col-lg-2">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>

    <!-- <ul class="nav flex-column">
     

        <li class="nav-item borderlist mb-2">
            <a class="nav-link active" href="{% url 'blogs:blog-home' %}">Posts</a>
        </li>

        <li class="nav-item borderlist mb-2">
            <a class="nav-link" href="{% url 'videos:course-list' %}">Courses</a>
        </li>

        <li class="nav-item borderlist mb-2">
            <a class="nav-link" href="{% url 'donate' %}">Donate</a>
        </li>
        <li class="nav-item borderlist mb-2">
            <a class="nav-link" href="{% url 'analytics:suggestion' %}">Suggestions</a>
        </li>
       
    </ul> -->
</div>