{% extends "blogs/base_new.html" %}
{% load humanize %}
{% block title %}
Teckiy - 404
{% endblock %}
{% load static %}
{% block content %}

<div class="description-box-left-column des-box-left-col">
    <div class="ques-user-img top-sctn-hp">
        <!-- <h1 class="all-quest-fl">You searched for <strong>{{ query }}</strong> </h1> -->
    </div>
    <hr>

    <h1>oops. <br>Something Went Wrong. Please try again later !!</h1>
    <!-- experiment end -->
</div>
<div class="right-column">
    <div class="features-mb">
        <div class="priority">
            <h4 class="priority-heading">Are you Freelancer?</h4>
            <p class="priority-des fs">Teckiy is a place for you to earn.</p>
        </div>
        <div class="priority">
            <h4 class="priority-heading">How to Earn?</h4>
            <p class="priority-des fs">Points ==== $$$</p>
        </div>
        <div class="priority">
            <h4 class="priority-heading">Why Teckiy?</h4>
            <p class="priority-des fs">Get Support for open source tools/framework with SLA's.</p>
        </div>
        <div class="priority learn-border-bottom">
            <h4 class="priority-heading">Why not Q & A Site?</h4>
            <p class="priority-des fs">Techions can Learn & Earn</p>
        </div>
        <div class="priority learn-border-bottom">
            <h4 class="priority-heading">Want to be a Techion?</h4>
            <p class="priority-des fs">Just start helping users request</p>
        </div>
    </div>

    <!-- BLOG section -->
    <!-- <div class="blog-hp fs">
        <h4 class="blog-heading">Blog</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sit amet architecto
        voluptas
        nihila liquid magnamh
        placeat qui esse quaerat rem neque odit unde quis repellendus impedit aliquam fugit
        itaque!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim doloremque laboriosam eos quod,
        tempora unde facilis repudiandae magni illum quam nobis perspiciatis quasi consequatur ab
        eveniet maiores doloribus, quo ea.
    </div> -->

</div>
{% endblock %}
{% block extrajs %}
<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
<script
    type='text/javascript'>kofiwidget2.init('Support Us on Ko-fi', '#29abe0', 'N4N41MX56'); kofiwidget2.draw();</script>
{% endblock extrajs %}