* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

iframe {

	width:1000px;
	height: 300px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}


#content-wrap {
   overflow: auto;
  padding-bottom: 180px;
}

#footer {
  position: relative;
  margin-top: -180px;
  /* negative value of footer height */
  height: 180px;
  clear: both;          /* Footer height */
}