* {
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Added this below p tag new */
  p {
    margin-bottom: 0;
  }
  
  .fs {
    font-size: 12px;
  }
  
  html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .footer {
    background-color: #242729;
    text-align: center;
    padding: 10px;
  }
  
  .footer-link {
    color: #bbc0c4;
    margin-right: 12px;
    margin-top: 0px;
  }
  
  .footer-link:hover {
    text-decoration: none;
    color: white;
  }
  
  .fb-footer-icon {
    width: 30px;
    height: 30px;
    background-color: #bbc0c4;
    border-radius: 5px;
    margin-top: 12px;
    padding: 1px;
    margin-right: 12px;
  }
  
  .fb-footer-icon:hover {
    background-color: white;
  }
  
  .copyright {
    color: #bbc0c4;
    margin-top: 12px;
    padding-left: 0 !important;
  }
  
  .ko-fi-div {
    text-align: left;
  }
  
  .ko-fi {
    border: solid 1px white;
    background-color: #bbc0c4;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .ko-fi:hover {
    background-color: white;
  }
  
  .ko-fi-img {
    width: 20px;
    height: 15px;
  }
  
  .navbar {
    background-color: #fafafb;
    height: 50px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-top: solid 2px red;
    border-bottom: solid 5px #fafafbc2;
  }
  
  .btn-padding {
    padding: 2px 4px;
    margin-right: 5px;
  }
  
  .navbar-logo {
    width: 80px;
    height: 30px;
  }
  
  .nav-ul {
    margin-left: 5px;
  }
  
  .pcds-display {
    display: none !important;
  }
  
  .mr {
    flex-grow: 0 !important;
  }
  
  .search-box {
    width: 450px;
    height: 35px;
  }
  
  .search-btn {
    height: 35px !important;
    padding: 0 5px !important;
    margin-right: 5px;
  }
  
  .search-icon:hover {
    background-color: lightgrey;
    border-radius: 5px;
  }
  
  button .search-icon {
    width: 30px;
  }
  
  .login-hp,
  .signup-hp {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .signup-hp {
    margin-right: 0px !important;
    margin-left: 3px !important;
  }
  
  .login-hp:hover,
  .signup-hp:hover,
  .ask-a-quest-btn:hover {
    background-color: #0077cc;
  }
  
  .user-icon {
    width: 18px;
    height: 25px;
    margin: 0 !important;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  
  .user-button {
    height: 28px !important;
    padding: 1px 6px 2px 3px !important;
    color: white !important;
  }
  
  /* .search-box-sm-scrn{  */
  #appear-search-bar {
    width: 80%;
    height: 35px;
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 65px;
    display: none;
  }
  
  .right-abt-us{
      margin-left:0 !important;
      border-left: none !important;
      padding:0 !important;
  }
  
  .abt-us-col{
      padding: 0 !important;
      border-left: none;
  }
  
  .abt-us-heading{
      background-image: url("../images/sponsors-group.ad068ff00c32.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 250px;
      background-position: bottom;
      margin-right:15px;
  }
  
  .img-blur {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(4px); 
      max-width: 100%;
      margin-left: auto;
      height: 100%;
      padding-top: 100px;
      font-size: 2.5rem;
      text-align: center;
      color: white;
      text-shadow: 3px 3px black;
  }
  
  .abt-us-img{
      width: 100px;
      height: 35px;
  }
  
  .abt-us-heading2{
      font-size: 1.5rem;
      color: lightslategray;
      margin-top: 30px;
      padding: 0px 15px 15px;
      text-align: center;
  }
  
  .abt-us-top{
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      margin: 100px 30px 80px;
  }
  
  .top-img-div{
      width: 475px;
      height: 450px;
      padding: 0px 20px;  
  }
  
  
  #services{
      text-decoration: none;
  }
  
  .abt-us-descript a:hover{
      text-decoration: none !important;
  }
  
  .abt-us-descript{
      width: 700px;
      /* border: solid 3px lightgrey; */
      text-align: left;
      /* padding: auto 50px; */
      font-size: 1.2rem;
      margin: auto;
      padding: 50px 20px 50px 0px;
      line-height: 1.75;
  }
  
  .abt-us-middle{
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      margin: 30px 30px 70px;
  }
  
  .box1, .box2{
      width: 275px;
      /* height: 360px; */
      border: solid 5px lightgrey;
      background-color: lightskyblue; /* For browsers that do not support gradients */
      background-image: linear-gradient(to right, white, lightgrey);
      margin-bottom: 30px;
  }
  
  .box1-img, .box2-img{
      height: 220px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* margin-bottom: 10px; */
  }
  
  .box1-img{
      background-image: url("../images/sponsors-hands.5edcc0c67553.png");
  }
  
  .box2-img{
      background-image: url("../images/sponsors-coffee.e5ba143587bc.png");
  }
  
  .box1-content, .box2-content{
      /* height: 105px; */
      padding: 15px 25px;
      /* border: solid 2px green; */
      text-align: center;
      color: black;
      font-size: 18px;
      margin: auto;
  }
  
  .box1-content a:hover, .box2-content a:hover{
    text-decoration: none;
  }
  
  a.abt-sctn-hp {
    margin-left: 20px;
    text-decoration: none;
    color: #535a60;
  }
  
  a.abt-sctn-hp:hover {
    color: black;
  }
  
  .search-box-form-hp {
    width: 50%;
    margin-left: 50px;
    border: solid 1px #535a60;
  }
  
  .search-btn:hover {
    background-color: lightgrey;
    border-radius: 5px;
  }
  
  /* MAIN CONTENT */
  .parent-container {
    margin-top: 50px;
  }
  
  .right-scrollable-section {
    margin-left: 140px;
    border-left: solid 1px #d6d9dc;
  }
  
  .right-scrollable-section-hp {
    margin-top: 0 !important;
    padding-top: 10px;
    margin-left: 140px;
    border-left: solid 1px #d6d9dc;
  }
  
  .left-navitems {
    list-style: none;
    text-align: left;
    font-size: 18px;
    line-height: 3;
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .left-navitems a {
    text-decoration: none;
    color: #535a60;
    list-style: none;
  }
  
  .left-navitems a:hover {
    color: black;
  }
  
  .question-header {
    padding: 24px 16px;
  }
  
  .description-box-left-column {
    float: left;
    width: 70%;
    margin: 0 !important;
    padding-right: 25px;
  }
  
  .ques-heading-fs {
    font-size: 27px;
  }
  
  .ques-user-img {
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    padding-right: 15px;
  }
  
  .blog {
    width: 27%;
    float: right;
    margin-right: 20px;
    font-size: 13px;
    text-align: left;
    border: solid 1px #d6d9dc;
    padding: 25px;
    margin-top: 10px;
  }
  
  .blog-heading {
    text-align: center !important;
  }
  
  @media only screen and (min-width: 200px) and (max-width: 332px) {
    .search-btn,
    .login-hp,
    .signup-hp {
      padding: 5px 1px;
    }
    .search-btn {
      margin-right: 5px;
    }
    .navbar-logo {
      width: 60px;
      height: 29px;
      margin-top: 0;
    }
    .ic-size {
      width: 25px;
      height: 30px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    #appear-search-bar {
      position: absolute;
      z-index: 1;
      margin-top: 0;
    }
  }
  
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .search-box {
      display: none;
    }
    .user-button {
      margin-left: 0 !important;
    }
   
    .ko-fi-div {
      text-align: center;
      margin-top: 12px;
    }
     .abt-us-logo{
      margin-top: 50px;
      width: 130px;
      height: 50px;
  }
  
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-logo {
      margin-top: 0;
      padding-top: 0;
    }
  }
  
  @media only screen and (min-width: 200px) and (max-width: 991px) {
    .navbar-logo {
      width: 70px;
      height: 28px;
      margin-top: 0;
    }
    .nav-left {
      padding-top: 0;
    }
    .ic-size {
      width: 40px;
      height: 30px;
    }
    .btn-padding {
      padding: 0 !important;
      margin-right: 0px !important;
    }
    .nav-ul {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: white;
      width: 150px;
      line-height: 2.2rem;
    }
    .pcds-display {
      display: block !important;
    }
    .left-fixed-section {
      display: none;
    }
    .right-scrollable-section{
      width: 100%;
      margin-left: 0 !important;
      padding-left: 0;
      overflow: auto;
      border-left: none;
      z-index: -1;
    }
    .abt-us-heading{
      margin-right:0;
      }
  
    .blog{
      display: none;
    }
    
    .description-box-left-column {
      width: 100%;
      margin: 0 !important;
    }
   
    #appear-search-bar {
      position: absolute;
      z-index: 1;
      margin-top: 0;
    }
  
  }
  
  @media only screen and (min-width: 200px) and (max-width: 449px) {
    .right-scrollable-section-hp{
      width: 100%;
      padding-right: 0px;
      margin-right: 0;
    }
    
    .question-header {
      padding: 24px 5px 24px 2px;
    }
    .top-sctn-hp {
      padding-right: 0;
    }
    .all-quest-fl,
    .ques-heading-fs {
      padding-left: 0px !important;
      font-size: 20px;
    }
   
    .descriptive-col {
      padding-right: 0 !important;
      padding-left: 20px;
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 360px) {
  .img-blur {
  
      font-size: 2rem;
  }
  }
  
  