{% extends "blogs/base.html" %}
{% block title %}
Teckiy - {{ object.name }}
{% endblock %}
{% load staticfiles %}
{% block content %}
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .partvideo {
        padding-bottom: 20px;
    }

    .box {
        padding-top: 2.5em;
        text-align: center;
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="row">
    <div class="box-element">
        {% include "blogs/side_navbar.html" %}
    </div>
    <div class="col-lg-8">
        <!-- {{ part_object }}
        {{ next_part }} -->
        <h4>{{ part_object.part_name }}</h4>
        <br />
        <div class="container partvideo">
            {{ part_object.video_source|safe }}
            <div class="box">
                {% if part_object.part_num == 1 %}
                <a href="{% url 'videos:course-detail' course_object.slug %}" class="btn btn-primary"> Previous</a>
                <a href="{% url 'videos:part-detail' course_object.slug next_part.slug  %}" class="btn btn-success">
                    Next</a>
                {% elif next_part == 1 %}
                <a href="{% url 'videos:course-detail' course_object.slug %}" class="btn btn-primary"> Previous</a>
                {% else %}
                <a href="{% url 'videos:course-detail' course_object.slug 'part-2-1922717661' %}"
                    class="btn btn-primary">
                    Previous</a>
                <a href="{% url 'videos:part-detail' course_object.slug next_part.slug  %}" class="btn btn-success">
                    Next</a>
                {% endif %}


            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
{% endblock js %}