{% extends "blogs/base.html" %}
<meta property="og:title" content="Submit the request" />
<meta property="og:image" content="https://static.teckiy.com/teckiy_200.jpg" />
<meta property="og:site_name" content="Teckiy">
<meta name="description" content="Place for techions" />
{% block title %}
Teckiy - Submit Request
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .bold-my-labels label {
        font-weight: bold;
    }
</style>
<div class="row">
    <div class="box-element">
        {% include "blogs/side_navbar.html" %}
    </div>
    <div class="col-lg-8">
        <legend class="border-bottom mb-4">Submit a request</legend>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %} <legend class="border-bottom mb-4">Submit Your Question</legend> {% endcomment %}
            <div class="form-group">
                {% comment %}
                <hr /> {% endcomment %}
                {{ form|crispy }}
            </div>
            <button class='btn pull-right btn-primary'><i class="fa fa-reply" aria-hidden="true"></i>Submit</button>
        </form>
    </div>


    <div class="col-lg-2">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Are you a Freelancer?</h5>
                    <!-- <small>3 days ago</small> -->
                </div>
                <p class="mb-1">Teckiy is a place for you to earn.</p>
                <!-- <small>Donec id elit non mi porta.</small> -->
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">How to Earn?</h5>
                    <!-- <small class="text-muted">3 days ago</small> -->
                </div>
                <p class="mb-1">Points ==== $$$</p>
                <!-- <small class="text-muted">Donec id elit non mi porta.</small> -->
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Why Teckiy?</h5>
                    <!-- <small class="text-muted">3 days ago</small> -->
                </div>
                <p class="mb-1">Get Support for open source tools/framework with SLA's.
                </p>
                <!-- <small class="text-muted">Donec id elit non mi porta.</small> -->
            </a>

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Why not Q & A Site?</h5>
                    <!-- <small class="text-muted">3 days ago</small> -->
                </div>
                <p class="mb-1">Techions can Learn & Earn.
                </p>
                <!-- <small class="text-muted">Donec id elit non mi porta.</small> -->
            </a>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Hey <strong>{{ request.user.username }}</strong></h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Urgent Ticket SLA will be 8 Hours</li>
                        <li>High Ticket SLA will be 10 Hours</li>
                        <li>Urgent/High Ticket make sure something production related issue</li>
                        <li>Also for Urgent/High please provide the requierd details to techions at the earliest so that
                            they could help you easily</li>
                        <li>If you like our platform please <a href="{% url 'donate' %}">Support</a> here.
                        </li>
                        <li>This is open source platform for all. So you can start helping others & earn points($)</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    const priorityValue = document.getElementById('id_priority')
    priorityValue.addEventListener("change", popuppriority);

    function popuppriority() {

        if (priorityValue.value == 'U' || priorityValue.value == 'H') {
            $('.modal').modal('show');
            // priorityValue.setAttribute("data-toggle", "modal")
            // priorityValue.setAttribute("data-target", "#myModal")
            // priorityValue.removeAttribute("data-toggle", "modal")
            // priorityValue.removeAttribute("data-target", "#myModal")
            // alert('Urgent Ticket')
        }
        // else {
        //     priorityValue.removeAttribute("data-toggle", "modal")
        //     priorityValue.removeAttribute("data-target", "#myModal")
        // }
    }
</script>
{% endblock extrajs %}