<html lang="en">

<head>


    <title>Teckiy!</title>
</head>

<body>
    <h4>Hi {{to_user|title}}, </h4>
    <span>
        <strong>{{commented_user}}</strong>
        has responded to your question,
        <h3><a href="{{domain}}{{question_url}}">click here</a></h3>
        <br>
        Thanks,
        <br>
        Teckiy Team
        <br>
        https://www.teckiy.com
        <br>
        <img src="https://www.teckiy.com/static/blogs/images/teckiy-new-logo.0045d1f9987b.png" width="100" height="50">

    </span>


</body>

</html>